<div class="d-flex justify-content-around">    
        <p class="display-5 text-primary">USER ERROR {{error}}</p>        
        <a href="/{{accion}}" class="float-right"><button class="btn btn-warning">Volver</button></a>    
</div>