<h1>Registro</h1>
<form action="/register" method="POST">
    <label for="email"class="form-label">Email</label>
    <input name="email" class="form-control" type="text"style="width: auto">
    <label for="password"class="form-label">Password</label>
    <input name="password" class="form-control" type="text"style="width: auto">
    <input class="btn btn-primary" type="submit" value="Enviar">
</form>
<br>
<a class="btn btn-primary" href="/login">Login</a>